# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Node
node_modules/
frontend/node_modules/
backend/node_modules/
backend/.env
frontend/.env
frontend/dist/
.DS_Store

# Temporary / OS
thumbs.db
desktop.ini
.venv/
__pycache__/
*.pyc
.env
